body {
  background-color: white;
}

.menu_principal {
  overflow: hidden;
  background-color: #28649C;
}

.menu_principal a {
  float: left;
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  background-color: none;
  float: left;
  overflow: hidden;
}

.dropdown .contato {
  font-family:serif;
  font-size: 25px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.menu_principal a:hover, .dropdown:hover .contato {
  background-color: none;
}

.dropdown-content {
  width: none;
  height: none;
  display: none;
  position: absolute;
  background-visibility: hidden;
  z-index: 1;
}

.dropdown-content a {
 border-radius: 100%;
 background-color: none;
  float: none;
  color: none;
  padding: 0px 0px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.lista {
  background-color: white;
  color: #28649C;
  cursor: pointer;
  padding: 18px;
  width: 929px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
}

.active, .lista:hover {
  background-color: none; 
}

.panel {
  padding: 18px;
  display: none;
  background-color: none;
  overflow: hidden;
}
.a {
  font-size: 16px;
  font-family: serif;
}

.b {
  font-size: 18px;
  font-family:serif;
}
.p {
  font-size:16px;
  font-family:serif;
}
.logotipo {
  width: 965px;
  height: 350px;
  position: relative;
  animation: move 50s 2000; infinite;
  animation-direction: alternate;

}



@keyframes move {

  0%   {left: 0px;}
  25%  {left: -1000px;}
  50%  {left: 50px;}
  75%  {left: 0px;}
  98%  {left: 0px;}
  100% {stop;}
}
.gmail {
  width: 70px;
  height: 70px;
}
.facebook {
	width: 10px;
     height: 10px;
}
.youtube {
	width: 70px;
     height: 70px;
}
